
#grid {
  display: grid;
  grid-template-columns: repeat(16, 20px);
  /* grid-gap: 10px; */
  margin-top:50px;
  border: 5px solid black;
  padding: 0;
  width:fit-content; 
  justify-content: center;
}

.cell {
  padding: 10px;
  /* border: 1px solid black; */
}

.cell:hover{
  background-color: red;
}
