body{
  display: flex;
  background-color: #393E46;
}

#grid {
  display: grid;
  background-color:white;
  margin-top: 50px;
  /* border: 5px solid black; */
  box-shadow: -10px 10px 10px #222831; 
  justify-content: center;
  height: 500px;
  width: 500px;
}

#title{
  font-family: 'Oleo Script Swash Caps', cursive;
  color: #EEEEEE;
}
